<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../node_modules/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet" Content-Type="text/css" />
    <!--<script defer src="/node_modules/@fortawesome/fontawesome-free/js/brands.js"></script>
    <script defer src="/node_modules/@fortawesome/fontawesome-free/js/solid.js"></script>
    <script defer src="/node_modules/@fortawesome/fontawesome-free/js/fontawesome.js"></script>-->
  </head>
  <body >
    <header>
      <nav class="navbar navbar-light bg-light border-primary">
        <div class="container-fluid">
        <a href="/home" class="navbar-brand"><img src="/img/logo_size.jpg" alt="">Job Board</a>
        <form action="/search" method="post" class="navbar-form form-inline my-2 my-lg-0" id="search-form" role="search">
          <div class="d-flex">
            <input class="form-control mr-sm-2" type="search" id="filterWord" name="filterWord" placeholder="Buscar" aria-label="Search">
            <button href="/home" class="btn btn-outline-primary my-2 my-sm-0" type="submit">Buscar</button>
          </div>
        </form>
        <a href="/logout" class=" btn btn-outline-danger">Cerrar Sesion</a>    
        </div>
           
      </nav>
      
    </header>
    
    <!-- Agregué un div para contener el resto de la vista para darle margen en el css -->
    <div class="container">
      <div class="row" >
        <div  id="izq" class="col-xl-2">
          <div class="card  bg-light text-black border-dark ">
            <div class="card-body border-dark bg-ligth text-center">
              <a href="/upload/{{id}}" class="link-dark"><span class="text-center">{{username}}</span></a>
            </div>
            <div class="card-body border-dark bg-ligth text-center">
              <img src="/img/{{img}}" class="rounded-circle " alt="imagen de {{username}}">
            </div>
          </div>
        </div>
        <div class="col-xl-1">

        </div>  
        <div class="col-xl-5">
          <div class="text-center">

          {{{body}}}
          </div>
        </div>
        <div class="col-xl-1">

        </div>  
        <div  class="col-xl-2 " id="der">
          <div class="card  bg-light text-black border-dark ">
          <ul class="list-unstyled text-center">
            <li><a href="/html/aboutUs.html" class="link-dark">Acerca de</a></li>
            <li><a href="" class="link-dark">Politicas y privacidad</a></li>
            <li><a href="" class="link-dark">Publicita aquí</a></li>
            
          </ul>
          </div>
        </aside>
      </div>
      <a id="back-to-top" href="#" class="btn btn-secondary btn-sm back-to-top col-sm-1" role="button"><i class="fas fa-chevron-up"></i></a>
    </div>
    <script src="/js/bootstrap.min.js" type="text/javascript" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.bundle.min.js" type="text/javascript" crossorigin="anonymous"></script>
    
  </body>
</html>